/*Colors from Blue Hippopotamus by LJK http://www.colourlovers.com/palette/149132/Blue_Hippopotamus */
@keyframes moveInHero {
  0% {
    opacity: 0;
    transform: translateY(2rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; }

html {
  font-size: 62.5%; }
  html ::-webkit-scrollbar {
    width: 1.2rem; }
  html ::-webkit-scrollbar-track:vertical {
    background-color: #757575;
    padding: 1px; }
  html ::-webkit-scrollbar-thumb:vertical {
    border-radius: 0.6rem;
    background-color: #bbdefb; }
    html ::-webkit-scrollbar-thumb:vertical:active {
      background-color: #cde7fc; }

body {
  box-sizing: border-box; }

body {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #212121; }

.hero__name {
  font-size: 7rem;
  text-align: center; }

.hero__tagline li {
  font-size: 3.2rem; }

.about__description {
  font-size: 2.2rem; }
  .about__description--emphasis {
    font-size: 4rem;
    line-height: 0rem; }

.flipcard__name {
  color: #fff;
  font-size: 5rem;
  text-align: center; }

.flipcard__description {
  font-size: 2rem;
  color: #212121; }

.flipcard__link {
  color: #212121;
  font-size: 2.5rem;
  transition: transform 0.2s; }
  .flipcard__link:hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: scale(1.1) translateZ(0);
    text-decoration: none; }
  @media only screen and (hover: none) {
    .flipcard__link:hover {
      transform: scale(1);
      color: #212121; } }

.flipcard {
  perspective: 200rem;
  -moz-perspective: 200rem;
  position: relative;
  width: 45%;
  height: 40rem;
  margin-bottom: 5rem; }
  .flipcard__side {
    height: 40rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
    overflow: hidden;
    padding: 2rem;
    box-shadow: 0 1.5rem 4rem rgba(33, 33, 33, 0.25); }
    .flipcard__side--front {
      display: flex;
      justify-content: center;
      align-items: center; }
    .flipcard__side--back {
      transform: rotateY(180deg);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center; }
      .flipcard__side--back--1, .flipcard__side--back--4 {
        background-color: #bbdefb; }
      .flipcard__side--back--2, .flipcard__side--back--3 {
        background-color: #b2dfdb; }
  .flipcard:hover .flipcard__side--front {
    transform: rotateY(-180deg); }
  .flipcard:hover .flipcard__side--back {
    transform: rotateY(0); }
  .flipcard__links-container {
    display: flex;
    flex-direction: column; }
  .flipcard__link:not(:last-child) {
    margin-bottom: 1rem; }
  .flipcard .project-image {
    background-size: cover;
    background-position: center; }
    .flipcard .project-image--1 {
      background-image: linear-gradient(to right bottom, rgba(25, 118, 210, 0.8), rgba(187, 222, 251, 0.6)), url("../../img/geckorello.png"); }
    .flipcard .project-image--2 {
      background-image: linear-gradient(to right bottom, rgba(0, 121, 107, 0.8), rgba(178, 223, 219, 0.6)), url("../../img/calculator.png"); }
    .flipcard .project-image--3 {
      background-image: linear-gradient(to right bottom, rgba(0, 121, 107, 0.8), rgba(178, 223, 219, 0.6)), url("../../img/mapbox.png"); }
    .flipcard .project-image--4 {
      background-image: linear-gradient(to right bottom, rgba(25, 118, 210, 0.8), rgba(187, 222, 251, 0.6)), url("../../img/blender.png"); }
  @media only screen and (hover: none) {
    .flipcard {
      height: 60rem;
      border-radius: 1rem;
      box-shadow: 0 1.5rem 4rem rgba(33, 33, 33, 0.25); }
      .flipcard__side {
        height: auto;
        position: relative;
        box-shadow: none;
        border-radius: 0; }
        .flipcard__side--front {
          height: 40%;
          border-radius: 10px 10px 0 0; }
        .flipcard__side--back {
          height: 60%;
          transform: rotateY(0);
          border-radius: 0 0 1rem 1rem; }
      .flipcard:hover .flipcard__side--front {
        transform: rotateY(0); } }
  @media only screen and (max-width: 640px) {
    .flipcard {
      width: 80%; }
      .flipcard--1 {
        order: 1; }
      .flipcard--2 {
        order: 2; }
      .flipcard--3 {
        order: 4; }
      .flipcard--4 {
        order: 3; } }

.navbar {
  background-color: transparent;
  opacity: 1; }
  .navbar .navbar-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  .navbar .nav-item {
    font-size: 2.2rem; }
    .navbar .nav-item .nav-link {
      color: #fff; }

.about {
  background-color: #bdbdbd;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50vh 5rem 25vh 5rem;
  height: 125vh;
  margin-top: -50vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%); }
  .about__headshot {
    width: 25rem;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 1.5rem 4rem rgba(33, 33, 33, 0.4); }
  .about__description {
    width: 60%;
    margin-left: 2rem; }

#contact {
  background-color: #454857;
  padding: 80px 0 50px 0;
  -webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%); }
  #contact .row {
    margin-top: 10rem; }
  #contact h2 {
    color: #fff;
    margin-bottom: 3.5rem;
    font-size: 5rem; }
  #contact p,
  #contact .btn {
    font-size: 2.4rem; }
  #contact #email-me {
    color: white;
    text-decoration: underline; }
  #contact ul,
  #contact li {
    margin: 0;
    padding: 0;
    vertical-align: baseline; }
  #contact ul {
    list-style-type: none; }
    #contact ul li {
      display: inline-block; }
      #contact ul li i {
        color: white;
        font-size: 4.8rem;
        transition: transform 0.2s; }
        #contact ul li i:hover {
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          transform: scale(1.1) translateZ(0);
          text-decoration: none; }
        @media only screen and (hover: none) {
          #contact ul li i:hover {
            transform: scale(1); } }

.hero {
  background-image: linear-gradient(to right, rgba(25, 118, 210, 0.8), rgba(25, 118, 210, 0.8)), url(../img/hong-kong-1990268_1920.jpg);
  background-size: cover;
  padding: 100px 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  height: 125vh;
  z-index: 2;
  position: relative;
  color: #fff; }
  .hero__container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .hero__row {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: moveInHero 1s ease-out; }
  .hero__tagline {
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    margin-top: 2rem;
    margin-bottom: 2rem; }
  .hero__links {
    display: flex;
    justify-content: center;
    list-style: none; }
  .hero__link {
    font-size: 4rem;
    transition: transform 0.2s; }
    .hero__link:hover {
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      transform: scale(1.1) translateZ(0);
      text-decoration: none; }
    .hero__link:not(:last-child) {
      margin-right: 3rem; }
    .hero__link a {
      color: #fff; }
    @media only screen and (hover: none) {
      .hero__link:hover {
        transform: scale(1); } }

@media (max-width: 354.98px) {
  .navbar-brand h1 {
    font-size: 1.3em; }
  .display-3 {
    font-size: 3em; } }

@media (max-width: 767.98px) {
  #about {
    text-align: center; } }

@media (max-width: 991.98px) {
  #about .row {
    margin-bottom: 40px; } }

#portfolio {
  padding: 100px 0; }
  #portfolio .row {
    margin-bottom: 70px; }
  #portfolio h2 {
    color: #454857;
    margin-bottom: 5rem;
    font-size: 5rem; }
  #portfolio .flipcard-container {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap; }
