/*Colors from Blue Hippopotamus by LJK http://www.colourlovers.com/palette/149132/Blue_Hippopotamus */
.navbar {
  background: #fff;
  opacity: 0.9;
  box-shadow: 2px 2px 5px #bee2e7; }
  .navbar .navbar-brand {
    color: #454857;
    border-top: 5px #bee2e7 solid; }
    .navbar .navbar-brand :hover {
      color: #72818b; }
  .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem; }

#about {
  background-image: linear-gradient(to left, rgba(190, 226, 231, 0.8), rgba(190, 226, 231, 0.8)), url(../img/hong-kong-1990268_1920.jpg);
  background-size: cover;
  padding: 100px 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  color: #454857; }
  #about #profile-pic {
    border-radius: 5px;
    border: 2px #72818b solid; }
  #about p {
    font-weight: 400;
    font-size: 1.5em; }
  #about .row {
    margin-bottom: 70px; }

#portfolio {
  padding: 100px 0; }
  #portfolio .row {
    margin-bottom: 70px; }
  #portfolio h2 {
    color: #454857;
    margin-bottom: 0; }
  #portfolio .card {
    border-radius: 5px;
    border: 1px #72818b solid;
    background-color: rgba(190, 226, 231, 0.15);
    color: #454857;
    margin: 70px 20px 0 20px; }
    #portfolio .card a {
      color: #454857; }
      #portfolio .card a :visited {
        color: #454857; }
      #portfolio .card a i {
        font-size: 32px; }
      #portfolio .card a i:hover {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2); }

#contact {
  background-color: #454857;
  padding: 80px 0 50px 0;
  -webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%); }
  #contact .row {
    margin-top: 100px; }
  #contact h2 {
    color: #fff;
    margin-bottom: 35px; }
  #contact p,
  #contact .btn {
    font-size: 1.5em; }
  #contact #email-me {
    color: white;
    text-decoration: underline; }
  #contact ul,
  #contact li {
    margin: 0;
    padding: 0;
    vertical-align: baseline; }
  #contact ul {
    list-style-type: none; }
    #contact ul li {
      display: inline-block; }
      #contact ul li i {
        color: white;
        font-size: 48px; }
      #contact ul li i:hover {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2); }

@media (max-width: 354.98px) {
  .navbar-brand h1 {
    font-size: 1.3em; }
  .display-3 {
    font-size: 3em; } }

@media (max-width: 767.98px) {
  #about {
    text-align: center; } }

@media (max-width: 991.98px) {
  #about .row {
    margin-bottom: 40px; } }
