/*Colors from Blue Hippopotamus by LJK http://www.colourlovers.com/palette/149132/Blue_Hippopotamus */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.navbar {
  background-color: transparent;
  opacity: 1; }
  .navbar .navbar-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  .navbar .nav-item {
    font-size: 2.2rem; }
    .navbar .nav-item .nav-link {
      color: #fff; }

#contact {
  background-color: #454857;
  padding: 80px 0 50px 0;
  -webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%); }
  #contact .row {
    margin-top: 10rem; }
  #contact h2 {
    color: #fff;
    margin-bottom: 3.5rem;
    font-size: 5rem; }
  #contact p,
  #contact .btn {
    font-size: 2.4rem; }
  #contact #email-me {
    color: white;
    text-decoration: underline; }
  #contact ul,
  #contact li {
    margin: 0;
    padding: 0;
    vertical-align: baseline; }
  #contact ul {
    list-style-type: none; }
    #contact ul li {
      display: inline-block; }
      #contact ul li i {
        color: white;
        font-size: 4.8rem; }
      #contact ul li i:hover {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2); }

#about {
  background-image: linear-gradient(to right, rgba(25, 118, 210, 0.8), rgba(25, 118, 210, 0.8)), url(../img/hong-kong-1990268_1920.jpg);
  background-size: cover;
  padding: 100px 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  height: 125vh;
  color: #fff; }
  #about .container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #about .container .hero {
      width: 100%;
      display: flex;
      justify-content: center; }
      #about .container .hero .tagline {
        width: 100%;
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-around;
        margin-top: 2rem; }
        #about .container .hero .tagline li {
          font-size: 3.2rem; }
  #about #profile-pic {
    border-radius: 5px;
    border: 2px #72818b solid; }
  #about .row {
    margin-bottom: 70px; }

@media (max-width: 354.98px) {
  .navbar-brand h1 {
    font-size: 1.3em; }
  .display-3 {
    font-size: 3em; } }

@media (max-width: 767.98px) {
  #about {
    text-align: center; } }

@media (max-width: 991.98px) {
  #about .row {
    margin-bottom: 40px; } }

#portfolio {
  padding: 100px 0; }
  #portfolio .row {
    margin-bottom: 70px; }
  #portfolio h2 {
    color: #454857;
    margin-bottom: 0;
    font-size: 5rem; }
  #portfolio .card {
    border-radius: 5px;
    border: 1px #72818b solid;
    background-color: rgba(190, 226, 231, 0.15);
    color: #454857;
    margin: 70px 20px 0 20px; }
    #portfolio .card h3 {
      font-size: 2.5rem; }
    #portfolio .card a {
      color: #454857; }
      #portfolio .card a :visited {
        color: #454857; }
      #portfolio .card a i {
        font-size: 32px; }
      #portfolio .card a i:hover {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2); }
