@import 'abstracts/variables';

@import 'base/animations';
@import 'base/base';
@import 'base/typography';

@import 'components/flipcard';
@import 'components/navbar';

@import 'layout/about';
@import 'layout/contact';
@import 'layout/hero';
@import 'layout/portfolio';
