/*Colors from Blue Hippopotamus by LJK http://www.colourlovers.com/palette/149132/Blue_Hippopotamus */
$dark-motion: #454857;
$rain: #bee2e7;
$rain-overlay: rgba(190, 226, 231, 0.8);
$silver-lining: #72818b;
$velvet-pink: #8f002e;
$windy-day: #4f57aa;

.navbar {
  background: #fff;
  opacity: 0.9;
  box-shadow: 2px 2px 5px $rain;

  .navbar-brand {
    color: $dark-motion;
    border-top: 5px $rain solid;

    :hover {
      color: $silver-lining;
    }
  }

  .nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem;
  }
}

#about {
  background-image: linear-gradient(to right, $rain-overlay, $rain-overlay),
    url(../img/andaz.jpg);
  background-size: cover;
  padding: 100px 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);

  color: $dark-motion;

  #profile-pic {
    border-radius: 5px;
    border: 2px $silver-lining solid;
  }

  p {
    font-weight: 400;
    font-size: 1.5em;
  }

  .row {
    margin-bottom: 70px;
  }
}

#portfolio {
  padding: 100px 0;

  .row {
    margin-bottom: 70px;
  }

  h2 {
    color: $dark-motion;
    margin-bottom: 0;
  }

  .card {
    border-radius: 5px;
    border: 1px $silver-lining solid;
    background-color: rgba($rain, 0.15);
    color: $dark-motion;
    margin: 70px 20px 0 20px;

    a {
      color: $dark-motion;

      :visited {
        color: $dark-motion;
      }

      i {
        font-size: 32px;
      }

      i:hover {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
      }
    }
  }
}

#contact {
  background-color: $dark-motion;
  padding: 80px 0 50px 0;

  -webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);

  .row {
    margin-top: 100px;
  }

  h2 {
    color: #fff;
    margin-bottom: 35px;
  }

  p,
  .btn {
    font-size: 1.5em;
  }

  #email-me {
    color: white;
    text-decoration: underline;
  }

  ul,
  li {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
  }

  ul {
    list-style-type: none;

    li {
      display: inline-block;

      i {
        color: white;
        font-size: 48px;
      }
      i:hover {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
      }
    }
  }
}

@media (max-width: 354.98px) {
  .navbar-brand h1 {
    font-size: 1.3em;
  }

  .display-3 {
    font-size: 3em;
  }
}

@media (max-width: 767.98px) {
  #about {
    text-align: center;
  }
}

@media (max-width: 991.98px) {
  #about {
    .row {
      margin-bottom: 40px;
    }
  }
}
