// HERO
.hero {
  // Image by David Mark from Pixabay
  // https://pixabay.com/photos/hong-kong-city-urban-skyscrapers-1990268/
  background-image: linear-gradient(
      to right,
      $color-primary-dark-overlay,
      $color-primary-dark-overlay
    ),
    url(../img/hong-kong-1990268_1920.jpg);
  background-size: cover;
  padding: 100px 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);

  height: 125vh;

  color: $color-white;

  .hero__container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .hero__row {
      width: 100%;
      display: flex;
      justify-content: center;

      .hero__tagline {
        width: 100%;
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-around;
        margin-top: 2rem;
      }

      animation: moveInHero 1s ease-out;
    }
  }

  #profile-pic {
    border-radius: 5px;
    border: 2px $silver-lining solid;
  }

  // p {
  //   font-weight: 400;
  //   font-size: 1.5em;
  // }

  .row {
    margin-bottom: 70px;
  }
}

@media (max-width: 354.98px) {
  .navbar-brand h1 {
    font-size: 1.3em;
  }

  .display-3 {
    font-size: 3em;
  }
}

@media (max-width: 767.98px) {
  #about {
    text-align: center;
  }
}

@media (max-width: 991.98px) {
  #about {
    .row {
      margin-bottom: 40px;
    }
  }
}
