.hero {
  // Image by David Mark from Pixabay
  // https://pixabay.com/photos/hong-kong-city-urban-skyscrapers-1990268/
  background-image: linear-gradient(
      to right,
      $color-primary-dark-overlay,
      $color-primary-dark-overlay
    ),
    url(../img/hong-kong-1990268_1920.jpg);
  background-size: cover;
  padding: 10rem 5rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);

  height: 125vh;
  z-index: 2;
  position: relative;

  color: $color-white;

  &__container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__row {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation: moveInHero 1s ease-out;
  }

  &__tagline {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-bottom: 2rem;

    li {
      width: 16rem;
      text-align: center;

      @media only screen and (max-width: 26.25em) {
        width: 12rem;
      }
    }
  }

  &__links {
    display: flex;
    justify-content: center;
    list-style: none;
  }

  &__link {
    font-size: 4rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    &:not(:last-child) {
      margin-right: 3rem;
    }

    a {
      color: $color-white;
    }

    &--label {
      font-size: 1.6rem;
      visibility: hidden;
    }

    &:hover .hero__link--label {
      visibility: visible;
    }

    @media only screen and (hover: none) {
      &:hover .hero__link--label {
        visibility: hidden;
      }
    }
  }
}
