#portfolio {
  padding: 100px 0;

  .row {
    margin-bottom: 70px;
  }

  h2 {
    color: $color-text-primary;
    margin-bottom: 5rem;
    font-size: 5rem;
    text-align: center;
  }

  .flipcard-container {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
  }
}
