#portfolio {
  padding: 100px 0;

  .row {
    margin-bottom: 70px;
  }

  h2 {
    color: $dark-motion;
    margin-bottom: 5rem;
    font-size: 5rem;
  }

  .flipcard-container {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
  }

  // .card {
  //   border-radius: 5px;
  //   border: 1px $silver-lining solid;
  //   background-color: rgba($rain, 0.15);
  //   color: $dark-motion;
  //   margin: 70px 20px 0 20px;

  //   h3 {
  //     font-size: 2.5rem;
  //   }

  //   a {
  //     color: $dark-motion;

  //     :visited {
  //       color: $dark-motion;
  //     }

  //     i {
  //       font-size: 32px;
  //     }

  //     i:hover {
  //       -webkit-transform: scale(1.2);
  //       -moz-transform: scale(1.2);
  //       -ms-transform: scale(1.2);
  //       -o-transform: scale(1.2);
  //     }
  //   }
  // }
}
