.flipcard {
  // Functionality
  perspective: 200rem;
  -moz-perspective: 200rem;
  position: relative;
  width: 45%;
  height: $card-height;
  margin-bottom: 5rem;

  &__side {
    height: $card-height;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
    overflow: hidden;
    // box-shadow: ?

    &--front {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--back {
      transform: rotateY(180deg);
      background-color: $color-secondary;
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  .project-image {
    background-size: cover;

    background-position: center;
    width: 100%;
    height: 101%;

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $color-primary-dark-overlay,
          $color-primary-light-overlay
        ),
        url('../../img/geckorello.png');
    }

    &--2 {
      background-image: linear-gradient(
          to right bottom,
          $color-secondary-dark-overlay,
          $color-secondary-light-overlay
        ),
        url('../../img/calculator.png');
    }

    &--3 {
      background-image: linear-gradient(
          to right bottom,
          $color-secondary-dark-overlay,
          $color-secondary-light-overlay
        ),
        url('../../img/mapbox.png');
    }

    &--4 {
      background-image: linear-gradient(
          to right bottom,
          $color-primary-dark-overlay,
          $color-primary-light-overlay
        ),
        url('../../img/blender.png');
    }
  }
}
