.navbar {
  background-color: transparent;
  width: 100%;
  opacity: 0;
  position: fixed;
  z-index: 4;
  margin-top: 1.5rem;

  .navbar-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .nav-item {
    font-size: 2.2rem;
    list-style: none;

    .nav-link {
      color: $color-white;
      text-decoration: none;
    }
  }
}
