*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

html {
  // defines 1rem
  font-size: 62.5%;

  ::-webkit-scrollbar {
    width: 1.2rem;
  }

  ::-webkit-scrollbar-track:vertical {
    background-color: $color-text-secondary;
    padding: 1px;
  }

  ::-webkit-scrollbar-thumb:vertical {
    border-radius: 0.6rem;
    background-color: $color-primary-light;

    &:active {
      background-color: $color-primary-light-active;
    }
  }
}

body {
  box-sizing: border-box;
}
