body {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-text-primary;
}

h1,
h2,
h3 {
  font-weight: 500;
}

.hero {
  &__name {
    font-size: 7rem;
    text-align: center;
  }

  &__tagline li {
    font-size: 3.2rem;
  }

  @media only screen and (max-width: 35em) {
    &__name {
      font-size: 6rem;
    }

    &__tagline li {
      font-size: 2.8rem;
    }
  }

  @media only screen and (max-width: 23.75em) {
    &__name {
      font-size: 7rem;
    }

    &__tagline li {
      font-size: 2.8rem;
    }
  }
}

.about {
  &__description {
    font-size: 2.2rem;

    &--emphasis {
      font-size: 4rem;
      line-height: 0rem;
    }
  }
}

.flipcard {
  &__name {
    color: $color-white;
    font-size: 5rem;
    text-align: center;
  }

  &__description {
    font-size: 2rem;
    color: $color-text-primary;
  }

  &__link {
    color: $color-text-primary;
    font-size: 2.5rem;
    transition: transform 0.2s;
    text-decoration: none;

    &:hover {
      // backface-visibility and translateZ attempt to fix blurriness during transition.
      // It still looks blurry on my machine, but maybe it'll look better on machines with
      // better graphics cards
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      transform: scale(1.1) translateZ(0);

      text-decoration: none;
    }

    @media only screen and (hover: none) {
      &:hover {
        transform: scale(1);
        color: $color-text-primary;
      }
    }
  }
}
