// COLORS

/*Colors from Blue Hippopotamus by LJK http://www.colourlovers.com/palette/149132/Blue_Hippopotamus */
$dark-motion: #454857;
$rain: #bee2e7;
$rain-overlay: rgba(190, 226, 231, 0.8);
$silver-lining: #72818b;
$velvet-pink: #8f002e;
$windy-day: #4f57aa;

// Colors from materialpalette.com (Blue + Teal)
$color-primary: #2196f3;
$color-primary-dark: #1976d2;
$color-primary-dark-overlay: rgba($color-primary-dark, 0.8);
$color-primary-light: #bbdefb;
$color-white: #fff;
$color-accent: #009688;
$color-text-primary: #212121;
$color-text-secondary: #757575;
$color-divider: #bdbdbd;
