// COLORS

/*Colors from Blue Hippopotamus by LJK http://www.colourlovers.com/palette/149132/Blue_Hippopotamus */
$dark-motion: #454857;
$rain: #bee2e7;
$rain-overlay: rgba(190, 226, 231, 0.8);
$silver-lining: #72818b;
$velvet-pink: #8f002e;
$windy-day: #4f57aa;

// Colors from materialpalette.com (Blue + Teal)
$color-primary: #2196f3;
$color-primary-overlay: rgba($color-primary, 0.8);
$color-primary-dark: #1976d2;
$color-primary-dark-overlay: rgba($color-primary-dark, 0.8);
$color-primary-light: #bbdefb;
$color-primary-light-overlay: rgba($color-primary-light, 0.6);
$color-primary-light-active: #cde7fc;
$color-secondary: #009688;
$color-secondary-overlay: rgba(#009688, 0.8);
$color-secondary-dark: #00796b;
$color-secondary-dark-overlay: rgba($color-secondary-dark, 0.8);
$color-secondary-light: #b2dfdb;
$color-secondary-light-overlay: rgba($color-secondary-light, 0.6);
$color-white: #fff;

$color-text-primary: #212121;
$color-text-secondary: #757575;
$color-divider: #bdbdbd;

// CARD
$card-height: 40rem;
